---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
  <h2>About us</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas in expedita
    quod culpa aliquam, quisquam dolores, officiis corporis quasi nulla eligendi
    a aliquid recusandae ratione deleniti delectus nisi tempora magni!
  </p>
</Layout>
