---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello World">
  <!-- Slot 2 -->
  <div slot="slot-2">
    <h2>Slot 2</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum
      iure ab eaque error ex corporis sit ea iusto. Officia atque nostrum
      excepturi veritatis fugiat tempora, perspiciatis odio nesciunt? Ex!
    </p>
  </div>
  <!-- Slot vacío -->
  <!-- Slot 1 -->
  <div slot="slot-1">
    <h2>Slot 1</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum
      iure ab eaque error ex corporis sit ea iusto. Officia atque nostrum
      excepturi veritatis fugiat tempora, perspiciatis odio nesciunt? Ex!
    </p>
  </div>
</Layout>

<style></style>
